<!doctype html>
<html lang="ru">
<head>
  {% include "./includes/head.twig" %}
  <title>Магазин одежды Фетч</title>
  <link rel="stylesheet" href="build/css/style.min.css">
</head>
<body>
  <div class="wrapper">
    {% include "./parts/header.twig" %}
    {% include "./parts/main.twig" %}
    {% include "./parts/footer.twig" %}
  </div>

{% include "./includes/scripts.twig" %}

</body>
</html>